body{
    background-color: black;
    margin: 0px;
}
header{
    width: 100%;
    height:220px;
    background-color:black;
    text-align: center;
}
.mainheading{
    color: #b7b7b7;
    background-color: black;
    width: 94%;
    height: 65%;
    margin-left: 45px;
    align-items: center;
    justify-content: center;
    padding-top: 54px;
    text-align: center;
    border-bottom: thin ridge #464343;
}
.navigation{
    width: 100%;
    height: 25%;
    background-color:black;
}
header a{
    text-decoration: none;
}
header a:hover{
    color:#cf2e2e;
}
.mainheading a{
    color: #b7b7b7;
    font-size: 2.75rem;
    font-family: "Playfair Display", serif;
    letter-spacing: 6.5px;
    line-height: 0.7;
}
.mainheading p{
    color: #b7b7b7;
    font-size: 0.85rem;
    font-family: "Playfair Display", serif;
    letter-spacing: 5px;
    text-transform: uppercase;   
}
.navigation li{
    display:inline-flex;
    padding: 14px 25px ;
    list-style-type: none;
    justify-content: space-between;
}
.navigation a{
    color: white;
    font-size: 0.85rem;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: 0.29px;
    text-transform: uppercase;
}
section h1{
    color: white;
    font-size: 2.625rem;
    line-height: 2.5;
    text-align: center;
    padding-top: 65px;
}
#right-image{
    margin-left: 11%;
    padding-right: 40px;
}
section h4{
    color: white;
    font-size: 1.635rem;
    text-align: center;
}
section p{
    color: #7A7A7A;
    font-size: 1.125rem;
    line-height: 1.75;
    font-family: sans-serif;
    margin-left: 10%;
}
#middle-image{
    margin-left: 11%;
}
footer{
    height: 265px;
    text-align-last: center ;
    text-transform: capitalize;
    font-size: 0.8125rem;
    font-family: sans-serif;
    color: #999;
}
footer p{
    padding-top: 235px;
}
footer a{
    color: azure;
    text-decoration: none;
}
a:hover{
    color:#cf2e2e;
}